<div class="w-full h-full grid grid-rows-[2.25rem_1fr]">
  <!-- Top header -->
  <app-chat-header></app-chat-header>

  <!-- Main content area -->
  <div class="grid grid-cols-[30%_70%] h-full">
    <!-- Left Sidebar Area -->
    <div class="grid grid-rows-[1fr_auto] bg-gray-100">
      <!-- Channel + Sub List -->
      <div class="grid grid-cols-[4.5rem_1fr]">
        <!-- Channel Sidebar -->
        <app-chat-sidebar></app-chat-sidebar>

        <!-- Subchannel / DM user list -->
        <div class="bg-gray-700">
          <div
            class="h-[3rem] bg-amber-700 flex items-center justify-center text-white text-sm font-semibold"
          >
            Channel / DM Name
          </div>
          <div class="text-white px-2 py-1">Subchannel list / DM users</div>
        </div>
      </div>

      <!-- User profile bottom section -->
      <app-chat-profile></app-chat-profile>
    </div>

    <!-- Main Chat + Member Panel -->
    <div class="grid grid-rows-[3rem_1fr]">
      <!-- Message Header -->
      <div class="bg-gray-300 flex items-center justify-between px-4">
        Header message + members
      </div>

      <!-- Chat and Members -->
      <div class="grid grid-cols-[3fr_1fr]">
        <!-- Messages -->
        <div class="bg-gray-400 px-4 overflow-y-auto">Messages</div>

        <!-- Members -->
        <div class="bg-gray-500 px-3 py-2 overflow-y-auto">Member list</div>
      </div>
    </div>
  </div>
</div>
