<a
  class="flex items-center justify-center cursor-pointer relative group w-full"
  [routerLink]="href()"
  [ngClass]="{
    'pointer-events-none': isActive(),
  }"
>
  <!-- Avatar box -->
  <div
    [hlmTooltipTrigger]="channel().name"
    position="right"
    showDelay="0"
    hideDelay="0"
    aria-describedby="{{ channel().name }}"
    class="relative w-10 h-10 rounded-xl bg-background shrink-0 overflow-hidden"
  >
    <img
      *ngIf="channel().avatarUrl"
      [src]="channel().avatarUrl"
      alt="Channel Avatar"
      class="w-full h-full object-cover"
    />

    <!-- Indicator bar (based on 4 states) -->
  </div>
  <div
    class="absolute left-0 bg-primary transition-all duration-200 w-[4px] h-0 rounded-r-full"
    [ngClass]="{
      'h-2': channel().hasActivity && !isActive(),
      'group-hover:h-5': !isActive(),
      'h-full': isActive()
    }"
  ></div>
</a>
