<div
  class="relative h-[2.25rem] flex items-center justify-center bg-background"
>
  <div class="flex items-center gap-2">
    @if (chatHeaderService.avatarUrl()) {
    <img
      [src]="chatHeaderService.avatarUrl()"
      class="w-6 h-6 rounded"
      alt="avatar"
    />
    }
    <span class="text-foreground-background font-semibold text-sm">
      {{ chatHeaderService.title() }}
    </span>
  </div>

  <div class="absolute right-2 top-1/2 -translate-y-1/2">
    <app-chat-inbox></app-chat-inbox>
  </div>
</div>
