<div class="m-auto min-w-[25rem] bg-background p-[2rem] rounded-md h-full">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    #form="ngForm"
    class="flex flex-col gap-4"
  >
    <div class="flex flex-col items-center">
      <div class="text-base text-foreground">Create an account</div>
    </div>
    <label hlmLabel class="flex flex-col gap-2 w-full">
      Email*
      <hlm-form-field>
        <input
          aria-label="Email"
          formControlName="email"
          class="w-full"
          hlmInput
          type="email"
          placeholder="Email"
        />
        @if (registerForm.get('email')?.getError('required')) {
        <hlm-error>Email is required</hlm-error>
        } @if (registerForm.get('email')?.getError('email')) {
        <hlm-error>Email is invalid</hlm-error>
        }
      </hlm-form-field>
    </label>
    <label hlmLabel class="flex flex-col gap-2 w-full">
      Password*
      <hlm-form-field>
        <input
          aria-label="Password"
          hlmInput
          class="w-full"
          formControlName="password"
          type="password"
          placeholder="Password"
        />
        @if (registerForm.get('password')?.getError('required')) {
        <hlm-error>Password is required</hlm-error>
        }
      </hlm-form-field>
    </label>
    <label hlmLabel class="flex flex-col gap-2 w-full">
      Confirm Password*
      <hlm-form-field>
        <input
          aria-label="Confirm Password"
          hlmInput
          class="w-full"
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm Password"
        />
        @if (registerForm.get('confirmPassword')?.getError('required')) {
        <hlm-error>Password is required</hlm-error>
        }
      </hlm-form-field>
      @if (registerForm.getError('passwordMatch') && registerForm.dirty) {
      <hlm-error>Confirm password is not match with password</hlm-error>
      }
    </label>
    <label hlmLabel class="flex flex-col gap-2 w-full">
      First Name*
      <hlm-form-field>
        <input
          aria-label="First Name"
          formControlName="first_name"
          hlmInput
          class="w-full"
          type="text"
          placeholder="First Name"
        />
        @if (registerForm.get('first_name')?.getError('required')) {
        <hlm-error>First Name is required</hlm-error>
        }
      </hlm-form-field>
    </label>
    <label hlmLabel class="flex flex-col gap-2">
      Last Name*
      <hlm-form-field>
        <input
          aria-label="Last Name"
          formControlName="last_name"
          hlmInput
          class="w-full"
          type="text"
          placeholder="Last Name"
        />
        @if (registerForm.get('last_name')?.getError('required')) {
        <hlm-error>Last Name is required</hlm-error>
        }
      </hlm-form-field>
    </label>
    <brn-select
      class="w-full text-primary text-sm flex flex-col gap-2"
      placeholder="Select an option*"
      formControlName="gender"
    >
      <hlm-select-trigger class="w-full">
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content>
        <hlm-option value="male">Male</hlm-option>
        <hlm-option value="female">Female</hlm-option>
        <hlm-option value="other">Other</hlm-option>
      </hlm-select-content>
    </brn-select>
    <button
      hlmBtn
      class="w-full"
      variant="secondary"
      type="submit"
      [disabled]="status() === 'creating'"
    >
      Register
    </button>

    @if (status() === 'error') {
    <div class="text-sm text-destructive italic">Create account failed</div>
    }

    <div class="text-xs">
      <a routerLink="/login" class="underline text-primary">
        Already have an account?
      </a>
    </div>
  </form>
</div>
