<div class="m-auto max-w-[28rem] bg-background p-[2rem] rounded-md h-full">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login.emit(loginForm.getRawValue())"
    class="flex flex-col gap-4 px-1"
  >
    <label hlmLabel>
      Email*
      <input
        hlmInput
        formControlName="email"
        type="email"
        placeholder="Email"
      />
    </label>
    <label hlmLabel>
      Password
      <input
        hlmInput
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </label>
    <button
      hlmBtn
      variant="secondary"
      type="submit"
      [disabled]="loginStatus() === 'authenticating'"
    >
      Login
    </button>
  </form>
</div>
