<div class="m-auto min-w-[25rem] bg-background p-[2rem] rounded-md h-full">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login.emit(loginForm.getRawValue())"
    class="flex flex-col gap-4 px-1"
  >
    <div class="flex flex-col items-center">
      <div class="text-base text-foreground">Welcome back!</div>
      <div class="text-sm text-foreground">
        We're so excited to see you again
      </div>
    </div>
    <label hlmLabel class="flex flex-col gap-2 w-full">
      Email*
      <hlm-form-field>
        <input
          class="w-full"
          aria-label="Email"
          formControlName="email"
          hlmInput
          type="text"
          placeholder="Email"
        />
        @if (loginForm.get('email')?.getError('required')) {
        <hlm-error>Email is required</hlm-error>
        } @if (loginForm.get('email')?.getError('email')) {
        <hlm-error>Email is invalid</hlm-error>
        }
      </hlm-form-field>
    </label>

    <label hlmLabel class="flex flex-col gap-2 w-full">
      <span>Password*</span>
      <hlm-form-field>
        <input
          hlmInput
          formControlName="password"
          type="password"
          placeholder="Password"
          class="w-full"
        />
        @if (loginForm.get('password')?.getError('required')) {
        <hlm-error>Password is required</hlm-error>
        }
      </hlm-form-field>
    </label>
    <button
      hlmBtn
      class="w-full"
      variant="default"
      type="submit"
      [disabled]="loginStatus() === 'authenticating'"
    >
      Login
    </button>
    @if (loginStatus() === 'error') {
    <div class="text-sm text-destructive italic">
      Login or password is invalid.
    </div>
    }
    <div class="text-xs">
      Need an account?
      <a routerLink="/register" class="underline text-primary">Register</a>
    </div>
  </form>
</div>
